<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>GetGrass WebUI</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <h2>GetGrass WebUI</h2>
    <button onclick="addUser()">添加账号</button>
    <button onclick="clearClients()">清空账号</button>
    <button onclick="uploadFile()">上传文件</button>
    <table id="data-table">
        <tr><th>UserID</th><th>代理</th><th>状态</th></tr>
    </table>
    <script src="/static/index.js"></script>
</body>
</html>
